@model IEnumerable<HRMS.Web.ViewModels.ManageRolesFormModel>
@{
    ViewBag.Title = "ManageUsers";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div id="gridContent" style="padding-top: 10px;">
    <table class="footable table" data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next" id="RoleMasterGridContent">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th data-hide="phone">
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th >
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                        @Html.HiddenFor(modelItem => item.UserId)
                        @Html.HiddenFor(modelItem => item.CompanyId)
                        @Html.HiddenFor(modelItem => item.RoleMasterId)
                        @Html.HiddenFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        <span class="display-mode">
                            @Html.DisplayFor(modelItem => item.RoleName, new { @class = "form-control" })
                        </span>
                        <span class="edit-mode">
                            @Html.DropDownListFor(modelItem => item.RoleName, new SelectList(item.RoleList, "RoleMasterId", "RoleName"), "--Select--", new Dictionary<string, Object> { { "class", "form-control edit-mode" }, { "data-val-1", @item.RoleMasterId }, { "id", "dpRoleMaster" } })
                        </span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="edit-user display-mode">Edit</a>
                        <a href="javascript:void(0)" class="save-user edit-mode">Save</a>
                        <a href="javascript:void(0)" class="cancel-user edit-mode">Cancel</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>Security<small>Manage Users</small></h1><ol class=" + '"breadcrumb"' + "><li><a href=" + '"../Home/EmployeeDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Home</a></li><li class=" + '"active"' + ">Manage Users</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);
        $('.edit-mode').hide();
        $('.display-mode').show();
    });
    $('.edit-mode').hide();
    $('.edit-user, .cancel-user').on('click', function (e) {
        e.stopPropagation();
        e.preventDefault();
        var tr = $(this).parents('tr:first');
        var RoleId = tr.find("#item_RoleMasterId")[0].value;
        var RoleName = tr.find("#item_RoleName")[0].value;
        var UserId = tr.find("#item_UserId")[0].value;
        if (RoleName == '@HRMS.Web.Helper.GlobalsVariables.CurrentUserRoleName') {
            alert('Can update only manager and employee role.');
        }
        else {
            tr.find('.edit-mode,.display-mode').toggle();
            var dpRoleMaster = $("#dpRoleMaster");
            tr.find("#dpRoleMaster").val(RoleId).attr("selected", "selected");
        }
    });
    $('.save-user').on('click', function () {
        var tr = $(this).parents('tr:first');
        var UserId = tr.find("#item_UserId")[0].value;
        var RoleId = tr.find("#dpRoleMaster").val();
        var CompanyId = '@HRMS.Web.Helper.GlobalsVariables.CurrentCompanyId';
        $('.edit-mode').hide();
        $('.display-mode').show();
        var parms = { userId: UserId, roleId: RoleId }
        var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
        $.ajax({
            url: baseurl + "Security/ManageUserRoleById",
            type: 'post',
            cache: false,
            data: parms,
            success: function (data) {
                if (data) {
                    window.location.href = window.location.href;
                }
            },
            error: function () {
                alert(Error);
            }
        });
    });
</script>
