@model IEnumerable<HRMS.Service.Models.EDM.EmployeeAsset>
@using HRMS.Web.Helper;

@{
    ViewBag.Title = "SelectAllEmployeeAsset";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div>
    @Html.ActionLink("Add", "CreateEmployeeAsset", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Delete", null, null, new { @class = "btn btn-danger", @id = "btnDeleteAsset" })
    @Html.ActionLink("<< Back to employee info", "ViewEmployee", "Home", new { @selectedUserId = GlobalsVariables.SelectedUserId }, new { @class = "btn btn-success", style = "float:right" })
</div>
<div id="gridContent" style="padding-top: 10px;">
    <table class="footable table" data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next" id="AssetGridContent">
        <thead>
            <tr>
                <th data-sort-ignore="true">
                    <input type="checkbox" id="chksa"/>
                    @Html.DisplayName("Select All")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Asset)
                </th>
                <th data-hide="phone">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.Returned)
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.DueBack)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" data-val-1="@item.EmployeeAssetId" class="btncheckAsset" />
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Asset)*@
                        @Html.ActionLink((item.Asset).ToString(), "EditEmployeeAsset", new { @EmployeeAssetId = item.EmployeeAssetId }, new { id = "EmployeeAssetId" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Returned)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueBack)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>EmployeeAsset<small>EmployeeAsset List</small></h1><ol class=" + '"breadcrumb"' + "><li><a href=" + '"../Home/EmployeeDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Home</a></li><li class=" + '"active"' + ">EmployeeAsset</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);

        $("#btnDeleteAsset").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
            var searchIDs = $("#AssetGridContent input:checkbox:checked").map(function () {
                return $(this).attr("data-val-1");
            }).get();
            if (searchIDs.toString().length > 0) {
                $.ajax({
                    url: baseurl + "EmployeeAsset/DeleteAsset",
                    type: "POST",
                    cache: "false",
                    data: { employeeassetIds: searchIDs.toString() },
                    success: function (data) {
                        if (data == "True") {
                            window.location.href = window.location.href;
                        }

                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
            else { alert("Please select item(s) to delete."); }
        });

    });
    $('#chksa').on('ifChecked', function (event) {
        $('#AssetGridContent input:checkbox').iCheck('check');
    });
    $('#chksa').on('ifUnchecked', function (event) {
        $('#AssetGridContent input:checkbox').iCheck('uncheck');
    });
</script>
