@model IEnumerable<HRMS.Service.Models.EDM.OnBoarding>
@{
    ViewBag.Title = "SelectAllOnBoardingsbyCompanyId";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


@using(Html.BeginForm())
{
    @Html.ValidationSummary(true)

<div class="content">   
    <div>
        @Html.ActionLink("Add  ", "AddOnBoarding",null, new { @class = "btn btn-success" })
        @Html.ActionLink("Delete", null, null, new { @class = "btn btn-danger", @id = "btnDeleteOnBoarding" })
        @Html.ActionLink("<<Back to Configure Employee", "ConfigureEmployee", "Home", new { HireType = "SelfHire" }, new { @class = "btn  btn-success", @style = "float:right" })
    </div>

    <table class="footable table" data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next" id="onBoardingGridContent">
        <thead>
            <tr>
                <th></th>
                <th data-toggle="true">
                    @Html.DisplayNameFor(model => model.OnBoardingName )
                </th>
                <th data-hide="phone">
                    @Html.DisplayNameFor(model => model.Active)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" data-val-1="@item.OnBoardingId" class="btncheckdependent" id="chksa" />
                    </td>
                    <td>
                       @Html.ActionLink(((string)item.OnBoardingName), "AddOnBoarding", new { @OnBoardingId = item.OnBoardingId }, new { id = "OnBoardingId" })
                        @*@Html.DisplayFor(modelItem => item.OnBoardingName)*@                                     
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>OnBoarding<small>OnBoarding List</small></h1><ol class=" + '"breadcrumb"' + "><li><a href=" + '"../Home/EmployeeDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Home</a></li><li class=" + '"active"' + ">OnBoarding</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);
        $('#btnDeleteOnBoarding').click(function (e) {
            DeleteOnboarding();
        });
    });

        function DeleteOnboarding() {
           

            var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
            var searchIDs = $("#onBoardingGridContent input:checkbox:checked").map(function () {
                return $(this).attr("data-val-1");
            }).get();

            if (searchIDs.toString().length > 0) {
                var confirmationmessage = "Do you really want to delete selected item(s)?";

                if (!confirm(confirmationmessage)) {

                    // !confirm == the user did not confirm. Therefore stop the form submission.

                    event.preventDefault(); // --> This stops the form submit from happening.
                    e.stopPropagation();

                }
                else {
                    $.ajax({
                        url: baseurl + "OnBoardingProfile/DeleteOnBoarding",
                        type: "POST",
                        cache: "false",
                        data: { OnBoardingIds: searchIDs.toString() },
                        success: function (data) {
                            if (data == "True") {
                                window.location.href = window.location.href;
                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                }
            }
            else {
                alert("Please select items to delete");
            }
        }


   
</script>