@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@Styles.Render("~/Content/summernote")



<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Manage Blogs</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("CreateBlog", "EmployeePortalView", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="">
               
                <input class="text large" id="Id" name="Id" type="text" value="@ViewData["Id"]" style="display:none;">
                <input type="hidden" id="hdnId" value="@ViewBag.Id" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Title", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("Title", new { htmlAttributes = new { @class = "form-control", @Value = ViewData["Title"] } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Permalink", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("Permalink", new { htmlAttributes = new { @class = "form-control", @Value = ViewData["Permalink"] } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("SetAsHomepage", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="padding-top:10px;">
                        @Html.CheckBox("SetAsHomepage", new { @Value = ViewData["SetAsHomepage"] })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control", @Value = ViewData["Description"] } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Body", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextArea("Body", new { htmlAttributes = new { @class = "form-control", @row = 5, @Value = ViewData["Body"] } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("FeedProxyUrl", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("FeedProxyUrl", new { htmlAttributes = new { @class = "form-control", @Value = ViewData["FeedProxyUrl"] } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Posts Per Page", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("PostsPerPage", new { htmlAttributes = new { @class = "form-control", @Value = ViewData["PostsPerPage"] } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Post", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("Post", new { htmlAttributes = new { @class = "form-control", @Value = ViewData["Post"] } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Owner", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @{var owner = Session["ownerName"].ToString();}
                        @Html.Editor("Owner", new { htmlAttributes = new { @class = "form-control", @Value = owner, @Readonly = true } })
                    </div>
                </div>

                <div class="form-group" style="text-align:center;">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="btnCreate" type="submit" value="Update" class="btn btn-primary" />
                        <input id="cancel" type="button" onclick="location.href='@Url.Action("Blogs","EmployeePortalView")'" class="btn btn-primary" value="Cancel" />
                    </div>
                </div>
            </div>
        }
        </div>
    </div>





     

        @section scripts{
            @Scripts.Render("~/bundle/summernote",
                    "~/Scripts/home-index.js")
        }
        <script type="text/javascript">
            $(document).ready(function () {
                $("#btnCreate").click(function () {
                    if ($("#Title").val() == "") {
                        alert("Please enter Title field!");
                        return false;
                    }
                    if($("#PostsPerPage").val() == ""){
                        alert("Please enter PostsPerPage field!");
                        return false;
                    }
                });
            });
        </script>

