@model HRMS.Service.Models.EDM.LookUpDataEntity
@using HRMS.Web.Models;
@{
    ViewBag.Title = "AddLookUpPartialView";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@using (Html.BeginForm())
{   
    <div class="form-horizontal">       
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <h3>Add @Model.TableName</h3>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-4  required" })
                <div class="col-sm-8">
                    @Html.HiddenFor(model => model.CompanyId, new { @class = "control-label" })
                    @Html.HiddenFor(model => model.Id, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                </div>
            </div>
            @*
        <div class="form-group">
              @Html.LabelFor(model => model.CompanyId, new { @class = "control-label col-sm-4" })
              <div class="col-sm-8">
                  @Html.TextBoxFor(model => model.CompanyId, new { @class = "form-control", @readonly = "readonly" })
              </div>
          </div>
           <div class="form-group">
              @Html.LabelFor(model => model.Status, new { @class = "control-label col-sm-4" })
              <div class="col-sm-8">
                    @Html.EnumDropDownListFor(model => model.Status, Model.statusList, new { @class="form-control"})
              </div>
          </div>*@
            <div class="col-sm-4"></div>
            <div class="form-group">
                <div class="col-sm-offset-2 control-button">
                    
                    @Html.ActionLink("Cancel", "CreateLookUpData", new { @TableName = @Model.TableName }, new { @class = "btn btn-success" })
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
            </div>
        <div class="col-sm-6"></div>
           
        </div>
}