@model IEnumerable<HRMS.Service.Models.EDM.EmployeeNote>
@using HRMS.Web.Helper;
@{
    ViewBag.Title = "SelectAllEmployeeNotes";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div>
    @Html.ActionLink("Add", "CreateEmployeeNotes", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Delete", null, null, new { @class = "btn btn-danger", @id = "btnDeletenotes" })
</div>
<div id="gridContent" style="padding-top: 10px;">
    <table class="footable table" data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next" id="notesGridContent">
        <thead>
            <tr>
                <th data-sort-ignore="true">
                    <input type="checkbox" id="chksa" />
                    @Html.DisplayName("Select All")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th data-hide="phone">
                    @Html.DisplayNameFor(model => model.DocumentName)
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.File)
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                @*<th data-hide="phone">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" data-val-1="@item.EmployeeNotesId" class="btnchecknotes" />
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Description)*@
                        @Html.ActionLink(((string)item.Description), "CreateEmployeeNotes", new { @EmployeeNotesId = item.EmployeeNotesId }, new { id = "EmployeeNotesId" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>*@
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>Employee<small>Employee Notes</small></h1><ol class=" + '"breadcrumb"' + "><li class=" + '"active"' + ">Employee</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);
        $("#btnDeletenotes").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
            var searchIDs = $("#notesGridContent input:checkbox:checked").map(function () {
                return $(this).attr("data-val-1");
            }).get();
            if (searchIDs.toString().length > 0) {
                $.ajax({
                    url: baseurl + "EmployeeNotes/DeleteNotes",
                    type: "POST",
                    cache: "false",
                    data: { employeeNotesIds: searchIDs.toString() },
                    success: function (data) {
                        if (data == "True") {
                            window.location.href = window.location.href;
                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
            else { alert("Please select item(s) to delete."); }
        });

    });
    $('#chksa').on('ifChecked', function (event) {
        $('#notesGridContent input:checkbox').iCheck('check');
    });
    $('#chksa').on('ifUnchecked', function (event) {
        $('#notesGridContent input:checkbox').iCheck('uncheck');
    });
</script>

