@model IEnumerable<HRMS.Service.Models.EDM.TrainingEmployeeView>
@using HRMS.Web.Helper;
@{
    ViewBag.Title = "SelectAllTrainingEmployee";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div>
    @Html.ActionLink("Add", "TrainingEmployeeView", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Delete", null, null, new { @class = "btn btn-danger", @id = "btnDeleteTrainingEmployee" })
    @Html.ActionLink("<< Back to employee info", "ViewEmployee", "Home", new { @selectedUserId = GlobalsVariables.SelectedUserId }, new { @class = "btn btn-success", style = "float:right" })
</div>
@{
    var trainingemployeegrid = new WebGrid(@Model, canPage: false, canSort: false, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
}
<div id="gridContent" style="padding-top: 10px;">
    <table class="footable table" data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next" id="TrainingEmployeeGridContent">
        <thead>
            <tr>
                <th data-sort-ignore="true" style="padding-left:33px">
                    <input type="checkbox" id="chksa"/>
                    @Html.DisplayName("Select All")
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.ClassName)
                </th>
                <th data-hide="phone,">
                    Enrollment
                    End Date
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.CompletionDate)
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.ExpirationDate)
                </th>
                <th data-hide="all">
                    Location
                </th>
                <th data-hide="all">
                    Hours
                </th>
                <th data-hide="all">
                    Information
                </th>
                <th data-hide="all">
                    Status
                </th>
                <th data-hide="all">
                    Completion Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" data-val-1="@item.TrainingEmployeeViewId" class="btncheckdependent" onchange="cbChange(this)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassName)
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompletionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpirationDate)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.)
                        </td>*@
                   
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                </td>
            </tr>
        </tfoot>

    </table>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>Employee<small>Training Employee</small></h1><ol class=" + '"breadcrumb"' + "><li><a href=" + '"../Home/EmployeeDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Home</a></li><li class=" + '"active"' + ">TrainingEmployee</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);
        $("#btnDeleteTrainingEmployee").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
            var searchIDs = $("#TrainingEmployeeGridContent input:checkbox:checked").map(function () {
                return $(this).attr("data-val-1");
            }).get();
            if (searchIDs.toString().length > 0) {
                $.ajax({
                    url: baseurl + "TrainingEmployeeView/DeleteTrainingEmployee",
                    type: "POST",
                    cache: "false",
                    data: { trainingEmployeeViewIds: searchIDs.toString() },
                    success: function (data) {
                        if (data == "True") {
                            window.location.href = window.location.href;
                        }
                    },
                    error: function (request, status, error) {
                    }
                });
            }
            else { alert("Please select item(s) to delete."); }
        });
    });
    //code to select all/ deselect all checkboxes
    $('#chksa').on('ifChecked', function (event) {
        $('#TrainingEmployeeGridContent input:checkbox').iCheck('check');
    });

    $('#chksa').on('ifUnchecked', function (event) {
        $('#TrainingEmployeeGridContent input:checkbox').iCheck('uncheck');
    });
</script>