@model IEnumerable<HRMS.Service.Models.EDM.JobProfile>
@using HRMS.Web.Helper;
@{
    ViewBag.Title = "MyJobs";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div>
    @Html.ActionLink("<<Back to Recruiting Dashboard", "RecruitingDashboard", null, new { @class = "btn  btn-success", @style = "float:right; margin-bottom:10px;" })
    @Html.ActionLink("Delete", "DeleteJob", null, new { @class = "btn btn-danger", @id = "btnDeletejob" })
    @{
        var myJobGrid = new WebGrid(@Model, canPage: false, canSort: false, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    }

</div>

<div id="gridContent" style="padding-top:10px; ">
    <table class="footable table" data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next" id="newJobGridContent">
        <thead>
            <tr>
                <th data-sort-ignore="true">
                    <input type="checkbox" id="chksa" />
                </th>
                <th data-toggle="true">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th data-hide="phone">
                    @Html.DisplayNameFor(model => model.PostDate)
                </th>
                <th data-hide="phone">
                    @Html.DisplayNameFor(model => model.IsPosted)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" data-val-1="@item.JobProfileId" class="btncheckdependent" onchange="cbChange(this)" />
                    </td>
                    <td>
                        @Html.ActionLink(((string)item.Title), "Quiz", new { @JobProfileId = item.JobProfileId }, new { id = "JobProfileId" })
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPosted)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>Recruiting<small>My Jobs</small></h1><ol class=" + '" breadcrumb"' + "><li><a href=" + '"../Recruiting/RecruitingDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Recruiting</a></li><li class=" + '" active"' + ">MyJobs</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);
        $("#btnDeletejob").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
            var searchIDs = $("#newJobGridContent input:checkbox:checked").map(function () {
                return $(this).attr("data-val-1");
            }).get();
            if (searchIDs.toString().length > 0) {
                var confirmationmessage = "Do you really want to delete selected item(s)?";

                if (!confirm(confirmationmessage)) {

                    // !confirm == the user did not confirm. Therefore stop the form submission.

                    event.preventDefault(); // --> This stops the form submit from happening.
                    e.stopPropagation();

                }
                else {
                    $.ajax({
                        url: baseurl + "Recruiting/DeleteJob",
                        type: "POST",
                        cache: "false",
                        data: { jobIds: searchIDs.toString() },
                        success: function (data) {
                            if (data == "True") {
                                window.location.href = window.location.href;
                            }
                        },
                        error: function (request, status, error) {
                        }
                    });
                }
            }
            else { alert("Please select item(s) to delete."); }
        });
    });
    //To Select all/Deselect all checkboxes
    $('#chksa').on('ifChecked', function (event) {
        $('#newJobGridContent input:checkbox').iCheck('check');
    });
    $('#chksa').on('ifUnchecked', function (event) {
        $('#newJobGridContent input:checkbox').iCheck('uncheck');
    });

</script>


