@model IEnumerable<HRMS.Service.Models.EDM.RecruitingQuestions>
@using HRMS.Web.Helper;
@{
    ViewBag.Title = "SelectRecruitingQuestions";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div>
    @Html.ActionLink("Add", "AddRecruitingQuestions", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Delete", "DeleteRecruitingQuestions", null, new { @class = "btn btn-danger", @id = "btnDeleterecruitingquestions" })

</div>
<div id="gridContent" style="padding-top: 10px;">
    <table class="footable table" data-filter="#filter" data-page-size="10" data-page-previous-text="prev" data-page-next-text="next" id="JobRecruitingQuestionsGridContent">
        <thead>
            <tr>
                <th data-sort-ignore="true">
                    <input type="checkbox" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionText)
                </th>
                <th data-hide="phone">
                    @Html.DisplayNameFor(model => model.SequenceNumber)
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.IsRequired)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" data-val-1="@item.RecruitingQuestionId" class="btnDeleterecruitingquestions" onchange="cbChange(this)" />
                    </td>
                    <td>
                        @Html.ActionLink(((string)item.QuestionText), "AddRecruitingQuestions", new { @RecruitingQuestionId = item.RecruitingQuestionId })
                    </td>
                    <td>
                        @Html.Label(Convert.ToString(item.SequenceNumber))
                    </td>
                    <td>
                        @Html.Label(item.IsActive == true ? "Active" : "InActive")
                    </td>
                    <td>
                        @Html.Label(item.IsRequired == true ? "Required" : "Not Required")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>Recruiting Questions</h1><ol class=" + '"breadcrumb"' + "><li><a href=" + '"../Home/EmployeeDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Home</a></li><li class=" + '"active"' + ">RecruitingQuestions</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);
        $("#btnDeleterecruitingquestions").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
            var searchIDs = $("#JobRecruitingQuestionsGridContent input:checkbox:checked").map(function () {
                return $(this).attr("data-val-1");
            }).get();
            if (searchIDs.toString().length > 0) {
                $.ajax({
                    url: baseurl + "Recruiting/DeleteRecruitingQuestions",
                    type: "POST",
                    cache: "false",
                    data: { recruitingquestionsIds: searchIDs.toString() },
                    success: function (data) {
                        if (data == "True") {
                            window.location.href = window.location.href;
                        }
                    },
                    error: function (request, status, error) {
                    }
                });
            }
            else { alert("Please select item(s) to delete."); }
        });
    });
</script>
