@model IEnumerable<HRMS.Service.Models.EDM.RevieewCriteria>
@using HRMS.Web.Helper;
@{
    ViewBag.Title = "SelectReviewerCriteria";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div id="gridContent" style="padding-top: 10px;">
    <table class="footable table" data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next" id="ReviewCriteriaGridContent">
        <thead>
            <tr>
                <th data-sort-ignore="true">
                    <input type="checkbox" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CriteriaType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResponseTypeId)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" data-val-1="@item.ReviewCriteriaId" id="chkprm" class="btncheckreview" onchange="cbChange(this)" />
                        @Html.HiddenFor(modelItem => ViewData["ReviewId"])
                        @Html.HiddenFor(modelItem => ViewData["ReviewMasterId"])

                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => item.CriteriaTypeId)
                        @Html.DisplayFor(modelItem => item.CriteriaType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>
                    <td>
                        @if (item.ResponseTypeId == 1)
                        {
                            @("List");

                        }
                        else if (item.ResponseTypeId == 2)
                        {
                            @("Text");
                        }
                        else
                        {
                            @("Value")
                        }

                        @Html.HiddenFor(modelItem => item.ResponseTypeId)

                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-2 control-button">
           
            @Html.ActionLink("Cancel", "ReviewReviewer", "PerformanceReview", new { @ReviewId = @ViewData["ReviewId"] }, new { @class = "btn btn-success" })
            <button type="submit" id="btnsubmit" class="btn btn-success" onclick="Assign(@ViewData["ReviewId"],@ViewData["ReviewMasterId"])">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>ReviewCriteria<small>Review Criteria</small></h1><ol class=" + '"breadcrumb"' + "><li><a href=" + '"../Home/EmployeeDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Home</a></li><li class=" + '"active"' + ">ReviewCriteria</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);
    });

    function Assign(ReviewId, ReviewMasterId) {     
        var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
        var ReviewId = ReviewId;
        var ReviewMasterId = ReviewMasterId;
        var searchIDs = $("#ReviewCriteriaGridContent input:checkbox:checked").map(function () {
            return $(this).attr("data-val-1");
        }).get();
        if (searchIDs.toString().length > 0) {
            $.ajax({
                url: baseurl + "ReviewCriteria/SaveReviewReviewerCriteria",
                type: "POST",
                cache: "false",
                data: { reviewCriteriaIds: searchIDs.toString(), ReviewId: ReviewId, ReviewMasterId: ReviewMasterId },
                success: function (data) {
                    if (data === "True") {
                        window.location.href = '../PerformanceReview/ReviewReviewer?ReviewId=' + ReviewId;
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
        else {
            window.location.href = window.location.href;
            alert("Please select item(s) to Save.");
        }
    }
</script>
