@model IEnumerable<HRMS.Service.Models.EDM.Holiday>
@using HRMS.Common.Helpers;
@using HRMS.Web.Helper;
@{
    ViewBag.Title = "SelectAllHolidayDetails";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div style="padding-top: 10px;">
    @Html.ActionLink("Add  ", "AddHolidayDetail", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Delete", "DeleteHolidayDetail", null, new { @class = "btn btn-danger", @id = "btnDelete" })
    @Html.ActionLink("Holiday Group", "SelectAllHolidayGroupDetails", "HolidayGroup", null, new { @class = "btn btn-success" })
    @Html.ActionLink("<< Back to Configuration", "TimeAttendanceConfiguration", "Home", null, new { @class = "btn btn-success", style = "float:right" })
</div>
<div id="gridContent" style="padding-top: 10px;">
    <table class="footable table" data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next" id="HolidayGridContent">
        <thead>
            <tr>
                <th></th>
                <th data-toggle="true">
                    @Html.DisplayNameFor(model => model.HolidayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HolidayDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" id="@item.HolidayId" data-val-1="@item.HolidayId" onchange="cbChange(this)" />
                    </td>
                    <td>
                        @Html.ActionLink(((string)item.HolidayName), "EditHolidayDetail", new { @HolidayId = item.HolidayId }, new { id = "HolidayId" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HolidayDate)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>Holiday <small>Holiday List </small></h1><ol class=" + '"breadcrumb"' + "><li><a href=" + '"../Home/EmployeeDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Home</a></li><li class=" + '"active"' + ">Holiday</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnDelete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
            var searchIDs = $("#HolidayGridContent input:checkbox:checked").map(function () {
                return $(this).attr("data-val-1");
            }).get();

            $.ajax({
                url: baseurl + "Holiday/DeleteHolidayDetail",
                type: "POST",
                cache: "false",
                data: { HolidayIds: searchIDs.toString() },
                success: function (data) {
                    if (data == "True") {
                        window.location.href = window.location.href;
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        });
    });
</script>

