@model IEnumerable<HRMS.Service.Models.EDM.CompanyLink>
@using HRMS.Web.Helper;
@{
    ViewBag.Title = "SelectAllCompanyLink";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div>
    @Html.ActionLink("Add", "AddCompanyLink", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Delete", null, null, new { @class = "btn btn-danger", @id = "btnDeleteCompanyLink" })
    @Html.ActionLink("<< Back to Communication", "CommunicationDashboard", "Communication", null, new { @class = "btn btn-success", style = "float:right" })
</div>

<div id="gridContent" style="padding-top: 10px;">
    <table class="footable table" data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next" id="companyLinkGridContent">
        <thead>
            <tr>
                <th data-sort-ignore="true">
                    <input type="checkbox" id="chksa"/>
                </th>
                <th data-toggle="true">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th data-hide="phone">
                    @Html.DisplayNameFor(model => model.Url)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" id="@item.CompanyLinkId" data-val-1="@item.CompanyLinkId" class="btncheckcompanylink" onchange="cbChange(this)" />
                    </td>
                    <td>
                        @*@Html.ActionLink(((string)item.Name), "EditCompanyLink", new { @companyLinkId = item.CompanyLinkId }, new { id = "CompanyLinkId" })*@
                        @Html.ActionLink(((string)item.Name), "AddCompanyLink", new { @CompanyLinkId = item.CompanyLinkId }, new { id = "CompanyLinkId" })
                    </td>

                    <td>
                        @*@Html.DisplayFor(modelItem => item.Url)*@
                        <a href="@item.Url" target="_blank">@item.Url</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>Communication<small>Company Link List</small></h1><ol class=" + '"breadcrumb"' + "><li><a href=" + '"../Home/EmployeeDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Home</a></li><li class=" + '"active"' + ">Communication</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);

        $("#btnDeleteCompanyLink").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
            var searchIDs = $("#companyLinkGridContent input:checkbox:checked").map(function () {
                return $(this).attr("data-val-1");
            }).get();
            if (searchIDs.toString().length > 0) {
                $.ajax({
                    url: baseurl + "CompanyLink/DeleteCompanyLink",
                    type: "POST",
                    cache: "false",
                    data: { companyLinkIds: searchIDs.toString() },
                    success: function (data) {
                        if (data == "True") {
                            window.location.href = window.location.href;
                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
            else { alert("Please select item(s) to delete."); }
        });
    });
    //code to select all/ deselect all checkboxes
    $('#chksa').on('ifChecked', function (event) {
        $('#companyLinkGridContent input:checkbox').iCheck('check');
    });

    $('#chksa').on('ifUnchecked', function (event) {
        $('#companyLinkGridContent input:checkbox').iCheck('uncheck');
    });
</script>
