@model IEnumerable<HRMS.Service.Models.EDM.EmployeeDependent>
@using HRMS.Web.Helper;
@{    
    ViewBag.Title = "SelectAllEmployeeDependent";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div>
    @Html.ActionLink("Add  ", "AddDependent", null, new { @class = "btn btn-success" })
      @Html.ActionLink("Delete", null,null,new{@class="btn btn-danger",@id="btnDeleteDependent"})
    @Html.ActionLink("<< Back to employee info", "ViewEmployee", "Home", new { @selectedUserId = GlobalsVariables.SelectedUserId }, new { @class = "btn btn-success", style = "float:right" })
</div>
@{
    var dependentgrid = new WebGrid(@Model, canPage: false, canSort: false, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
}
<div id="gridContent" style="padding-top: 10px;">
    <table class="footable table" data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next" id="dependentGridContent">
        <thead>
            <tr>
                <th data-sort-ignore="true">
                    <input type="checkbox" id="chksa" />
                    @Html.DisplayName("Select All")
                </th>
                <th data-toggle="true">
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th data-hide="phone">
                    @Html.DisplayNameFor(model => model.RelationShipName)
                </th>
                <th data-hide="phone,tablet">
                    @Html.DisplayNameFor(model => model.HomePhone)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" data-val-1="@item.EmployeeDependentId" class="btncheckdependent"  onchange="cbChange(this)" />
                    </td>
                    <td>
                       @Html.ActionLink(((string)item.FirstName), "UpdateEmployeeDependent", new { @EmployeeDependentId = item.EmployeeDependentId }, new { id = "EmployeeDependentId" })
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RelationShipName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomePhone)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>Dependents<small>Dependents List</small></h1><ol class=" + '"breadcrumb"' + "><li><a href=" + '"../Home/EmployeeDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Home</a></li><li class=" + '"active"' + ">Dependent</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);
        $("#btnDeleteDependent").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
            var searchIDs = $("#dependentGridContent input:checkbox:checked").map(function () {
                return $(this).attr("data-val-1");
            }).get();
            if (searchIDs.toString().length > 0) {
                var confirmationmessage = "Do you really want to delete selected item(s)?";

                if (!confirm(confirmationmessage)) {

                    // !confirm == the user did not confirm. Therefore stop the form submission.

                    event.preventDefault(); // --> This stops the form submit from happening.
                    e.stopPropagation();

                }
                $.ajax({
                    url: baseurl + "EmployeeDependent/DeleteDependent",
                    type: "POST",
                    cache: "false",
                    data: { dependentIds: searchIDs.toString() },
                    success: function (data) {
                        if (data == "True") {
                            window.location.href = window.location.href;
                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
            else { alert("Please select item(s) to delete."); }
        });
    });
    //code to select all/ deselect all checkboxes
    $('#chksa').on('ifChecked', function (event) {
        $('#dependentGridContent input:checkbox').iCheck('check');
    });

    $('#chksa').on('ifUnchecked', function (event) {
        $('#dependentGridContent input:checkbox').iCheck('uncheck');
    });
</script>